#navigation_bar_wrapper{
  position:fixed;
  top:0px;
  width:100%;
  height:50px;
  background:#718ea4;
  z-index:2;

  p, h1, h2, h3, h4, h5, h6, a{
    cursor:default;
    padding:0px;
    margin:0px;
  }
}

.navigation_bar_button{
  position:relative;
  float:right;
  height:100%;
  width:10%;
  background:#277553;
  cursor: pointer;
  text-align:center;

  p, a{
    cursor:pointer !important;
  }

  a{
    text-decoration:none;
    height:100%;
    width:100%;
    display:block;
  }

  >p, a{
    position:relative;
    top:30%;
    color:black;
  }

  &:hover{
    background:#0f5738;
  }
}

#title_bar{
  float:left;
  text-align:center;
  height:100%;
  width:70%;
  padding-top:10px;
  background:#277553;
}

.project_title{
  margin:5px;
}

.bar{
  border:1px solid #003A21;
  border-radius:3px;
}